.clearfix, .clr { *zoom:1; }
.clearfix:before, .clearfix:after, .clr:before, .clr:after {
  display:table;
  content:"";
}
.clearfix:after, .clr:after { clear:both; }
.hide-text {
  font:0 / 0 a;
  color:transparent;
  text-shadow:none;
}
.tl { text-align:left; }
.tr { text-align:right; }
.tc { text-align:center; }
.tj { text-align:justify; }
.n, .normal { font-weight:normal; }
.b, .bold { font-weight:bold; }
.i, .italic { font-style:italic; }
.u, .underline { text-decoration:underline; }
.s, .stroke { text-decoration:line-through; }
.none { display:none; }
.block { display:block; }
.inline-block {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.iblock {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.mask {
  display:block;
  overflow:hidden;
}
.inline-mask {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  overflow:hidden;
}
.imask {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  overflow:hidden;
}
.rel { position:relative; }
.abs {
  position:absolute;
  top:0;
  left:0;
}
.abs-r {
  position:absolute;
  top:0;
  right:0;
}
.abs-b {
  position:absolute;
  bottom:0;
  left:0;
}
.abs-br {
  position:absolute;
  bottom:0;
  right:0;
}
.l, .left { float:left; }
.r, .right { float:right; }
.sprite-pos { background-position:0 0; }
.clear-list {
  margin:0;
  padding:0;
  list-style:none;
  list-style-position:inside;
}
.inline-list, .ilist {
  margin:0;
  padding:0;
  list-style:none;
  list-style-position:inside;
}
.inline-list li, .ilist li {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.highlight { text-shadow:0 1px 0 white; }
#curtaineroftheapp {
  display:block;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  right:0;
  background:#000000 url(icons/spinner_bk_000.gif) center center no-repeat;
  z-index:99999;
}
html, body {
  background:transparent;
  margin:0;
  padding:0;
  font-size:100.01%;
  width:100%;
  text-align:center;
  font-family:helvetica;
  font-size:12px;
}
html { background:#00000a url(desktop/bg_001.jpg) center top fixed no-repeat; }
.card-panel {
  display:block;
  width:370px;
  width:370px;
  height:null;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
}
.card-panel h2 {
  color:#ffffff;
  margin:0;
}
.card-panel form {
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:left;
  padding:20px;
  background:#bbbab8;
  background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmFiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background:-moz-linear-gradient(top,#bbbab8 0%,#ffffff 34%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bbbab8),color-stop(34%,#ffffff));
  background:-webkit-linear-gradient(top,#bbbab8 0%,#ffffff 34%);
  background:-o-linear-gradient(top,#bbbab8 0%,#ffffff 34%);
  background:-ms-linear-gradient(top,#bbbab8 0%,#ffffff 34%);
  background:linear-gradient(to bottom,#bbbab8 0%,#ffffff 34%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbab8',endColorstr='#ffffff',GradientType=0);
}
.card-panel form fieldset {
  border:none;
  margin:0;
  padding:0;
}
.card-panel form fieldset legend {
  display:block;
  width:320px;
  width:320px;
  height:null;
  padding:5px 5px;
  color:#333333;
  border-bottom:1px solid #666666;
}
.card-panel form label { display:none; }
.card-panel form input[type=text], .card-panel form input[type=password] {
  display:block;
  width:308px;
  width:308px;
  height:null;
  margin-top:10px;
  margin-bottom:10px;
  margin-bottom:25px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  background:#ffffff;
  padding:8px 10px;
  font-size:1.1em;
  border:1px solid #c1c4c7;
  outline:#f4f6f7 solid 4px;
}
.card-panel form input[type=text]:focus, .card-panel form input[type=password]:focus {
  background:#ffffff;
  border-color:#95c5db;
  outline:#e4f0fb solid 4px;
}
.card-panel form .submit { text-align:right; }
.card-panel form input[type=submit] {
  -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#bddbfa),color-stop(1,#80b5ea));
  background:-moz-linear-gradient(center top,#bddbfa 5%,#80b5ea 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa',endColorstr='#80b5ea');
  background-color:#bddbfa;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  border:1px solid #74b3f2;
  display:inline-block;
  color:#454359;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ccdae8;
}
.card-panel form input[type=submit]:hover {
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#80b5ea),color-stop(1,#bddbfa));
  background:-moz-linear-gradient(center top,#80b5ea 5%,#bddbfa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea',endColorstr='#bddbfa');
  background-color:#80b5ea;
}
.card-panel form input[type=submit]:active {
  position:relative;
  top:1px;
}
.card-panel p { color:#ffffff; }
.card-panel p a { color:#d3ebf5; }
form:before {
  content:"";
  display:block;
  width:223px;
  height:45px;
  background:url(icons/imcloudLogo_001.png) center center no-repeat;
  background-size:100% 100%;
  margin:20px auto;
}
